*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

body{
    background-color: rgb(241, 241, 241);
}

.topnavbar{
    background-color:#151c25;
    border-bottom: 1px solid rgb(189, 189, 189);
}

.topnavbar .navbar-brand{
    color: white;
}

.topnavbar .nav-item .nav-link{
    color: white;
}

.listnavbar{
    background-color: #1a2430;
    border-bottom: 1px solid black;
}

.listnavbar .nav-item .nav-link{
    color: white;   
    font-size: 18px;
}

.listnavbar .nav-item .nav-link:hover{
    background-color: #1a2430;
    color: rgb(202, 202, 202);
}


.card-section .card .card-body .form-group a{
color:white;
text-decoration: none;
}

/* .card-section .card .card-body .form-group a:hover{
    color:rgb(192, 5, 5);
    text-decoration: none;
} */

.card-section .card{
    box-shadow: 0px 0px 15px rgb(199, 199, 199);
    transition: 100ms all;
    border-radius: 8px;
}

.card-section .card:hover{
    box-shadow: 0px 0px 20px rgb(148, 148, 148);
    transform: scale(1.01);
}

/* add to cart */
.addtocart-section .card .card-body .form-group a{
    color:black;
    text-decoration: none;
    }
    
    .addtocart-section .card .card-body .form-group a:hover{
        color:rgb(192, 5, 5);
        text-decoration: none;
    }
    
    .addtocart-section .card{
        box-shadow: 0px 0px 15px rgb(212, 212, 212);
        transition: 100ms all;
        border-radius: 8px;
    }
    
    .addtocart-section .card:hover{
        box-shadow: 0px 0px 20px rgb(197, 197, 197);
    }


/* footer */
.footer-top{
    background:  #1a2430;
}

.footer-top .footerheading h4{
font-size: 22px;
color: white;
font-weight: 500;
/* margin-left: 13%;   */
margin-top: 10px;
margin-bottom: 14px;
}

.footer-top ul{
    list-style-type: none;
}

.footer-top ul li a{
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.footer-top ul li a:hover{
    color: rgb(202, 202, 202);
}

.subscribenewsletter span{
    color: white;
}

.form-group  label{
    color: white;
}

/* footer bottom */

.footer-bottom{
    background: #151c25;
    color: white;
}

.footer-bottom .footer-bottom-icon i{
    color: white;
    font-size: 25px;
    padding: 5px;
}

.footer-bottom .footer-bottom-icon i:hover{
    color: rgb(202, 202, 202);
}
.add_item{
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 95%;
    padding: 6px;
}
.add_item:hover{
    cursor: pointer;
}
#count{
    display: inline-block;
    height: 25px;
    width: 25px;
    text-align: center;
    background-color: red;
    border-radius: 50%;
}
.select{
    outline: none;
    border-radius: 10px;
    padding: 4px;
    border: 2px solid black;
}

input,
textarea {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}

input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-group {
  clear: both;
  margin: 15px 0;
  position: relative;
}

.input-group input[type='button'] {
  background-color: #eeeeee;
  min-width: 34px;
  width: auto;
  transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 12%;
  position: relative;
}

.input-group .quantity-field {
  position: relative;
  height: 38px;
  left: -6px;
  text-align: center;
  width: 71%;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
}

.button-plus {
  left: -13px;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}
  
.buy_now{
    width: 95%;
    color: white;
    border-radius: 10px;
}
.user_login a{
    color: black;
    text-decoration: none;
}
.user_login a:hover{
    color: rgb(90, 210, 250);
}